# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Environments variables
.env
.env.*

# Alembic migration logs
alembic/versions/*.pyc

# Database files
*.sqlite3
*.db

# Logs
*.log

# IDE files
.idea/
.vscode/

# System files
.DS_Store
Thumbs.db

# MyPy / Pylance / Pyright / VSCode cache
.mypy_cache/
.pytest_cache/
.pyrightcache/

# Docker files (if you're using docker)
*.pid

# PyCharm
*.iml
